.seasonal-summer {
    background: url(https://assets.eflorist.com/themes/seasonal-summer/images/seasonal_bg_summer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    >.container {
        background-color: #fff;
    }

    .m-footer {
        background-color: rgba(21,71,45,0.7) !important;
        color: #fff;
    }
}