.m-homepage-occasiontile-four {
    .m-homepage-occasiontile {
        .card {
            border: none;
        }
        .m-homepage-occasiontile-content {
            text-align: center;
            .btn {
                width: 90%;
            }
        }
    }
}