.m-homepage-occasiontile-three {
    .m-homepage-occasiontile {
        .m-homepage-occasiontile-content {
            text-align: center;
            .btn {
                width: 90%;
            }
        }
    }
}